$_buttonRadiusSize: 3px;

/**
 * Generic  (Default Blue)
 */
.Button,
.Button:disabled,
.Button--Disabled {
  background-color: $blue;
  border: none;
  border-radius: $_buttonRadiusSize;
  box-sizing: border-box;
  color: $white;
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  margin: 15px 10px;
  min-width: 120px;
  padding: 15px;
  position: relative;
  text-decoration: none;
  text-align: center;
  vertical-align: baseline;
}
  .Button:hover {
    background-color: $blueTertiary;
    cursor: pointer;
  }

  .Button:disabled,
  .Button--Disabled,
  .Button--Disabled:hover {
    background-color: $blue;
    cursor: default;
    opacity: .5;
  }

/**
 * Blue
 */
.Button--Blue:hover {
  background-color: $blueTertiary;
}

.Button--Blue,
.Button--Blue:disabled,
.Button--Blue.Button--Disabled {
  background-color: $blue;
}

/**
 * Orange
 */
.Button--Orange:hover {
  background-color: $orangeTertiary;
}

.Button--Orange,
.Button--Orange:disabled,
.Button--Orange.Button--Disabled {
  background-color: $orange;
}

/**
 * White Hollow
 */
.Button--WhiteHollow:hover {
  background-color: $white;
  color: $hotBlue;
}

.Button--WhiteHollow,
.Button--WhiteHollow:disabled,
.Button--WhiteHollow.Button--Disabled {
  background: none;
  box-shadow: inset 0px 0px 0px 2px $white;
  color: $white;
}

/**
 * Blue Hollow
 */
.Button--BlueHollow:hover {
  background-color: $blue;
  color: $white;
}

.Button--BlueHollow,
.Button--BlueHollow:disabled,
.Button--BlueHollow.Button--Disabled {
  background: none;
  box-shadow: inset 0px 0px 0px 2px $blue;
  color: $blue;
}

/**
 * Red Hover
 */
.Button--RedHover:hover {
  background: $red;
  color: $white;
}

/**
 * Small State
 */
.Button--Small,
.Button--Small:disabled {
  margin-top: 0;
  margin-bottom: 0;
  min-width: initial;
  padding: 6px 14px;
}

/**
 * Prepended Social Icon
 */
.Button__SocialIcon {
  margin-right: 5px;
  vertical-align: text-bottom;
}

/**
 * Loading Animation
 */
.Button.Button--Loading {
  color: rgba(100,100,100,0);
}

.Button__Loading {
  border-radius: $_buttonRadiusSize;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
  .Button__LoadingIcon {
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 30px;
  }
  .Button__LoadingIcon--Small {
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
    width: 10px;
  }

  // override
  .Button--Disabled.Button--DisabledStandard {
    opacity: 1;
  }

@media #{$mqMobilePortrait} {
  .Button--SmallOnMobilePortrait {
    margin-bottom: 0;
    margin-top: 0;
    min-width: initial;
    padding: 6px 14px;
  }
}

@media #{$mqMobile} {
  .Button--FullWidthMobile {
    width: 100%;
  }
  .Button--SmallOnMobile {
    margin-bottom: 0;
    margin-top: 0;
    min-width: initial;
    padding: 6px 14px;
  }
}
@media #{$mqTabletLandscapeAndDown} {
  .Button--SmallOnTabletDown {
    margin-bottom: 0;
    margin-top: 0;
    min-width: initial;
    padding: 6px 14px;
  }
}
