extends layout

block content
  div.Summary
    h1 Summary
    label.Summary__Question Question 1
    div.Summary__Answer #{question1}
    label.Summary__Question Question 2
    div.Summary__Answer #{question2}
    label.Summary__Question Question 3
    div.Summary__Answer #{question3}
